* {
    font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(#e66465, #9198e5);
    height: 150vh;
}
.header{
    background-image: url(../design1_image2.jpg);
    background-size: cover;
    background-position: 55%;
    height: 300px;
    margin: 100px 10px 0px 10px;
}
.header h1{
    position: absolute;
    top: 0px;
    font-size: 72px;
}
.logo{
    position: absolute;
    height: 120px;
    width: 120px;
    left: 10px;
    top: 470px;
}
.titleh2{
    position: absolute;
    top: 400px;
    left: 10px;
    width: 1883px;
    background-color: white;
    color: black;
    font-size:30px;
    text-align: center;
    border: 2px solid black;
}
.image{
    height: 250px;
    width: 250px;
    position: absolute;
    top:470px;
    left: 1200px;
}
.navbar{
    position: absolute;
    top: 80px;
    left: 1200px;
}
.navbar a{
    text-decoration: none;
    padding: 5px 20px;
    background-color:chocolate;
    color: white;
    box-shadow: 10px 5px 5px black;
}
.navbar a.active{
    background-color: green;
}
.navbar a:hover{
    transform: scale(1.2);
}
.main{
    display: flex;
    margin: 65px 250px;
}
.section article{
    padding: 20px;
    width: 800px;
}