* {
    font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.header{
    background-image: url(../design1_image1.jpg);
    background-size: cover;
    height: 300px;
    margin: 10px;
    font-size: xx-large;
    position: relative;
}
.titleh2{
    background-color: black;
    color: white;
    font-size:20px;
    text-align: center;
    margin-top: 220px;
}
.logo{
    position: absolute;
    height: 120px;
    width: 120px;
    left: 1200px;
    top: 240px;
    background-color: grey;
}
.navbar{
    position: absolute;
    top: 340px;
    width: 250px;
    height: 100%;
    padding: 10px;
}

.navbar a{
    display: block;
    padding: 30px 10px;
    text-decoration: none;
}
.navbar a:hover{
    color: red;
}
.main{
    display: block;
    margin: 30px 200px;
}
.image{
    height: 150px;
    width: 150px;
    padding-top: 20px;
}

article{
    padding-top: 30px;
}