* {
    font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(#e66465, #9198e5);
    min-height: 100vh;
}
.header{
    background-image: url(../design1_image2.jpg);
    background-size: cover;
    background-position: 55%;
    height: 300px;
    width: 100%;
    margin-top: 100px;
}
.header h1{
    position: absolute;
    top: 0px;
    font-size: 72px;
}
.logo{
    position: absolute;
    height: 200px;
    width: 200px;
    left: 50px;
    top: 470px;
}
.titleh2{
    position: absolute;
    top: 400px;
    left:0px;
    width: 100%;
    background-color: white;
    color: black;
    font-size:30px;
    text-align: center;
    border: 2px solid black;
}
.image{
    height: 200px;
    width: 200px;
    position: absolute;
    top:700px;
    left: 50px;
}
.navbar{
    display: flex;
    gap: 0.5rem;
    position: absolute;
    top: 80px;
    right: 100px;
}
.navbar a{
    text-decoration: none;
    padding: 5px 20px;
    background-color:chocolate;
    color: white;
    box-shadow: 10px 5px 5px black;
}
.navbar a.active{
    background-color: green;
}
.navbar a:hover{
    transform: scale(1.2);
}
.main{
    display: flex;
    justify-content: center;
    margin: 65px 250px;
}
.section article{
    padding: 20px;
    width: 800px;
}
.section p{
    padding-top: 10px;
}
.videoPlayer{
    position: absolute;
    top: 490px;
    right: 100px;
    box-shadow: 10px 5px 5px;
}
.rulesTitle{
    text-align: center;
}
.listNum{
    padding: 30px 40px;
}
.listLetter{
    list-style-type: lower-alpha;
    padding: 0px 20px;
}
ul{
    padding-left: 30px;
}
.gameTable{
    background-color: white;
    border-spacing: 3;
    text-align: center;
    border: 3px solid black;
    font-size: 25px;
}
td, th{
    padding: 0px 20px 10px 20px;
}
tr:nth-child(odd){
    background-color: #9198e5;
}
tr:nth-child(even){
    background-color: #e66465;
}
thead tr > th{
    background-color: #e66465;
}