* {
    font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.header{
    background-image: url(../design1_image1.jpg);
    background-size: cover;
    height: 300px;
    margin: 10px;
}
.logo{
    height: 120px;
    width: 120px;
    margin-left: 1200px;
    margin-top: 190px;
    background-color: grey;
}
.navbar{
    position: fixed;
    top: 400px;
    left: 10px;
    width: 250px;
    height: 100%;
    padding: 10px;
}

.navbar a{
    display: block;
    padding: 20px 10px;
}
.main{
    display: block;
    position:sticky;
    margin: 10px 200px;
}
.main h2{
    background-color: blue;
    text-align: center;
}
.image{
    height: 100%;
    width: 250px;
}