* {
    font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.header{
    display: block;
    background-image: url(../design1_image2.jpg);
    background-size: cover;
    height: 300px;
}
.header h1{
    position: relative;
    top: 0px;
    height: 60px;
    background-color: brown;
    text-align: center;
    font-size: xx-large;
    color: white;
}
.logo{
    height: 50px;
    width: 50px;
    position: absolute;
    top:0px;
    left:5px;
    z-index: 1;
}
.titleh2{
    position: relative;
    top:240px;
    text-align: center;
    border: 2px solid brown;
}
.navbar{
    position: absolute;
    top:10px;
    left: 1350px;
    font-size: larger;
}
.navbar a{
    padding: 0px 30px 0px 30px;
    color: white;
    text-decoration: none;
}
.navbar a:hover{
    color: yellow;
}
.section{
    display: block;
    padding: 50px 300px;
}
article{
    width: 900px;
    padding: 10px;
}
.image{
    height: 250px;
    width: 250px;
    position:absolute;
    top: 400px;
    left:1300px;
}
.image:hover{
    transform: scale(120%);
}
