* {
    font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(#e66465, #9198e5);
    min-height: 100vh; 
}

header>h1{
    font-size: 5vh;
}
.banner{
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    background-image: url(../assets/design1_image2.jpg);
    background-size: cover;
    background-position: 55%;
    height: 300px;
}
nav{
    display: flex;
    gap: 0.5rem;
    height: 2rem;
    min-height: fit-content;

}
nav a{
    text-decoration: none;
    min-height: fit-content;
    padding: 5px 20px;
    background-color:chocolate;
    color: white;
    box-shadow: 10px 5px 5px black;
}
nav a.active{
    background-color: green;
}
nav a:hover{
    transform: scale(1.2);
}

main{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
main > section > article{
    width: 50vh;
    padding-top: 1rem;
}
.titleh2{
    display: flex;
    justify-content: center;
    background-color: white;
    color: black;
    font-size:20px;
    text-align: center;
    border: 2px solid black;
}
article h3{
    font-weight: bold;
}
figure{
    position: relative;
    top:35px;
    width: 15vh;
}
.logo{
    height: 200px;
    width: 200px;
}
.image{
    height: 200px;
    width: 200px;
}
.rulesTitle{
    text-align: center;
}
.listNum{
    padding: 30px 40px;
}
.listLetter{
    list-style-type: lower-alpha;
    padding: 0px 20px;
}
ul{
    padding-left: 30px;
}
.gameTable{
    background-color: white;
    border-spacing: 3;
    text-align: center;
    border: 3px solid black;
    font-size: 25px;
}
td, th{
    padding: 0px 20px 10px 20px;
}
tr:nth-child(odd){
    background-color: #9198e5;
}
tr:nth-child(even){
    background-color: #e66465;
}
thead tr > th{
    background-color: #e66465;
}